body{
      align-items: center;
      background-color: hsl(212, 45%, 89%);
      display: flex;
      flex-direction: column;
      font-size: 15px;
      justify-content: center;
      min-height: 90vh;
  }
img{
      border-radius: 1rem;
      width: 100%;
  }

h3{
      font-family: 'Outfit', sans-serif;
      font-weight: 700;
      margin: 1rem 1rem auto 1rem;
  }
p{
      color: hsl(220, 15%, 55%);
      font-family: 'Outfit', sans-serif;
      font-weight: 400;
      margin: 1rem 1rem 1rem 1rem;
  }
.main-content{
      background-color: hsl(0, 0%, 100%);
      border-radius: 1rem;
      box-shadow: 5px 5px 5px hsl(220, 15%, 55%);
      padding: 0.8rem;
      text-align: center;
      width: 280px;
  }  
.attribution{
      bottom: 10px;
      position: absolute;
  }
